@import 'http://fonts.googleapis.com/css?family=Montserrat:300,400,700';

.header {
	height: 75px;
	margin: auto;
}

.header img {
	width: 100px;
	height: 50px;
	margin-left: 270px;
	margin-top: 13px;
}

.header h1 {
	margin: 0;
	padding: 0;
	font-weight: normal;
	color: #2B90EC;
	font-size: 60px;
}

.langForm {
	width: 85px;
	float: right;
	margin-top: -70px;
}

.langButton {
	width: 30px;
	height: 30px;
	outline: none;
	border: none;
}

h4 {
	text-align: center;
	color: #7997b5;
}

img {
	float: left;
	height: 70px;
	width: 80;
}

#image1 {
	float: center;
	height: 25px;
	width: 35px;
}

#footer {
	color: #2B90EC;
	bottom: 0;
	height: 35px;
	width: 95%;
	text-align: center;
	margin: 0 auto;
	margin-top: auto;
	clear: both;
}

#push {
	height: 35px;
	clear: both;
}

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}
}

.wrapper {
	min-height: 100%;
	height: auto !important;
	height: 100%;
	margin: 0 auto -34px;
}