<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html lang="#{language.language}" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:p="http://primefaces.org/ui"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets">
<f:view locale="#{language.locale}">
	<h:head>
	</h:head>
	<h:body>
		<div id="page" class="wrapper">

			<div id="header">
				<ui:insert name="header">
					<ui:include src="header.xhtml" />
				</ui:insert>
			</div>

			<div id="menu">
				<ui:insert name="menu">
					<ui:include src="menu.xhtml" />
				</ui:insert>
			</div>
			<div id="content">
				<h:form id="Add" style="width:45%; height:100%; margin: 0 auto;">
					<p:panel id="panel" header="Add Department">
						<p:messages id="messages" />
						<p:panelGrid columns="2" style="margin: 0 auto;">
							<h:outputLabel for="name" value="#{msg['deptName']}" />
							<p:inputText id="name" value="#{departmentMB.name}"
								required="true" />
							<h:outputLabel for="description" value="#{msg['description']}" />
							<p:inputText id="description" value="#{departmentMB.description}"
								required="true" />

							<p:commandButton value="Add Department" ajax="false"
								validateClient="true" action="#{departmentMB.addDepartment}" />
							<p:commandButton value="Reset add" update="panel" process="@this"
								actionListener="#{holidayMB.reset}"
								style="padding-left:36px;padding-right:36px;" />
						</p:panelGrid>
					</p:panel>
				</h:form>
				<br /> <br /> <br /><br /> <br /><br /> <br/><br/><br/>
			</div>
			<div id="footer">
				<ui:insert name="footer">
					<ui:include src="footer.xhtml" />
				</ui:insert>
			</div>
		</div>
	</h:body>
</f:view>
</html>