<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html lang="#{language.language}" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:p="http://primefaces.org/ui"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets">
<f:view locale="#{language.locale}">
	<h:head>
	</h:head>
	<h:body>
		<div id="page" class="wrapper">

			<div id="header">
				<ui:insert name="header">
					<ui:include src="header.xhtml" />
				</ui:insert>
			</div>

			<div id="menu">
				<ui:insert name="menu">
					<ui:include src="menu.xhtml" />
				</ui:insert>
			</div>
			<div id="content">
				<h:form id="Add" name="Add employee"
					style="width:45%;  margin: 0 auto;">
					<p:panel id="panel" header="Add Employee">
						<p:messages autoUpdate="true" />
						<p:panelGrid columns="2" style="margin: 0 auto;">
							<h:outputLabel for="firstName" value="Firstname: " />
							<p:inputText id="firstName" value="#{employeeMB.firstName}"
								required="true" />

							<h:outputLabel for="lastName" value="LastName:" />
							<p:inputText id="lastName" value="#{employeeMB.lastName}"
								required="true" />

							<h:outputLabel for="cnp" value="CNP:" />
							<p:inputText id="cnp" value="#{employeeMB.cnp}" required="true" />

							<h:outputLabel for="date" value="HireDate:" />
							<p:inputText id="date" value="#{employeeMB.date}" required="true" />

							<h:outputLabel for="manager" value="Manager:" />
							<p:inputText id="manager" value="#{employeeMB.mng}"
								required="true" />

							<h:outputLabel for="department" value="Department:" />
							<p:inputText id="department" value="#{employeeMB.depart}"
								required="true" />

							<p:commandButton value="Add employee" validateClient="true"
								ajax="false" action="#{employeeMB.addEmployee}" />

							<p:commandButton value="Reset Add" update="panel" process="@this"
								actionListener="#{employeeMB.reset}"
								style="padding-left:36px;padding-right:36px;" />
						</p:panelGrid>
					</p:panel>
				</h:form>
			</div>
			<br /> <br />
			<div id="footer">
				<ui:insert name="footer">
					<ui:include src="footer.xhtml" />
				</ui:insert>
			</div>
		</div>
	</h:body>
</f:view>
</html>