<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html lang="#{language.language}"
xmlns="http://www.w3.org/1999/xhtml"
	xmlns:p="http://primefaces.org/ui"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets">
	<f:view locale="#{language.locale}">
<h:head>
</h:head>
<h:body>
	<div id="page" class="wrapper">

		<div id="header">
			<ui:insert name="header">
				<ui:include src="header.xhtml" />
			</ui:insert>
		</div>

		<div id="menu">
			<ui:insert name="menu">
				<ui:include src="menu.xhtml" />
			</ui:insert>
		</div>
		<div id="content">
			<h:form id="Add" style="width:45%;  margin: 0 auto;">
				<p:panel id="panel" header="Add Holiday">
					<p:messages autoUpdate="true" />
					<p:panelGrid columns="2" style="margin: 0 auto;">
					
						<h:outputLabel for="name" value="Name: " />
						<p:inputText id="name" value="#{holidayMB.name}" required="true"/>
						<h:outputLabel for="start" value="Start:" />
						<p:inputText id="start" value="#{holidayMB.start}" required="true" />
						<h:outputLabel for="end" value="End:" />
						<p:inputText id="end" value="#{holidayMB.end}" required="true" />
						<h:outputLabel for="request" value="Request:" />
						<p:inputText id="request" value="#{holidayMB.request}" required="true"/>
						<h:outputLabel for="approval" value="Approval:" />
						<p:inputText id="approval" value="#{holidayMB.approval}" required="true" />

						<p:commandButton value="Add holiday" validateClient="true"
							ajax="false" action="#{holidayMB.addHoliday}" />
						<p:commandButton value="Reset Add" update="panel" process="@this"
							actionListener="#{holidayMB.reset}" style="padding-left:40px;padding-right:40px;"/>
					
					</p:panelGrid>
				</p:panel>
			</h:form>
		</div>
		<br/><br/>
		<div id="footer">
			<ui:insert name="footer">
				<ui:include src="footer.xhtml" />
			</ui:insert>
		</div>
	</div>
</h:body>
</f:view>
</html>