<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html lang="#{language.language}" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:p="http://primefaces.org/ui"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets">
<f:view locale="#{language.locale}">
	<h:head>
	</h:head>
	<h:body>
		<div id="page" class="wrapper">

			<div id="content">
				<h:form id="display3">
					<p:dataTable value="#{holidayMB.getAllHolidays()}" var="h"
						editable="true" paginator="true" rows="5"
						paginatorPosition="bottom"
						style="width:75%;  margin: 0 auto; text-align: center;">
						<p:ajax event="rowEdit" listener="#{holidayMB.onEdit}"
							update=":menu:messages" />
						<p:ajax event="rowEditCancel" listener="#{holidayMB.onCancel}"
							update=":menu:messages" />
						<p:column>
							<f:facet name="header">
								<h:outputText value="Employee" />
							</f:facet>
							<p:cellEditor>
								<f:facet name="output">
									<h:outputText value="#{h.getEmployee().getFirstName()}" />
								</f:facet>
								<f:facet name="input">
									<p:inputText id="firstname"
										value="#{h.getEmployee().getFirstName()}" style="width:100%" />
								</f:facet>
							</p:cellEditor>
						</p:column>
						<p:column>
							<f:facet name="header">
								<h:outputText value="#{msg['manager']}" />
							</f:facet>
							<p:cellEditor>
								<f:facet name="output">
									<h:outputText
										value="#{h.getEmployee().getManager().getFirstName()}" />
								</f:facet>
								<f:facet name="input">
									<p:inputText id="manager"
										value="#{h.getEmployee().getManager().getFirstName()}"
										style="width:100%" />
								</f:facet>
							</p:cellEditor>
						</p:column>
						<p:column>
							<f:facet name="header">
								<h:outputText value="#{msg['HolidayStart']}" />
							</f:facet>
							<p:cellEditor>
								<f:facet name="output">
									<h:outputText value="#{h.convertTime(h.getHolidayStart())}" />
								</f:facet>
								<f:facet name="input">
									<p:inputText id="start"
										value="#{h.convertTime(h.getHolidayStart())}"
										style="width:100%" />
								</f:facet>
							</p:cellEditor>
						</p:column>
						<p:column>
							<f:facet name="header">
								<h:outputText value="#{msg['HolidayEnd']}" />
							</f:facet>
							<p:cellEditor>
								<f:facet name="output">
									<h:outputText value="#{h.convertTime(h.getHolidayEnd())}" />
								</f:facet>
								<f:facet name="input">
									<p:inputText id="end"
										value="#{h.convertTime(h.getHolidayEnd())}" style="width:100%" />
								</f:facet>
							</p:cellEditor>
						</p:column>
						<p:column>
							<f:facet name="header">
								<h:outputText value="#{msg['request']}" />
							</f:facet>
							<p:cellEditor>
								<f:facet name="output">
									<h:outputText value="#{h.convertTime(h.getRequestDate())}" />
								</f:facet>
								<f:facet name="input">
									<p:inputText id="request"
										value="#{h.convertTime(h.getRequestDate())}"
										style="width:100%" />
								</f:facet>
							</p:cellEditor>
						</p:column>
						<p:column>
							<f:facet name="header">
								<h:outputText value="#{msg['approval']}" />
							</f:facet>
							<p:cellEditor>
								<f:facet name="output">
									<h:outputText value="#{h.convertTime(h.getApprovalDate())}" />
								</f:facet>
								<f:facet name="input">
									<p:inputText id="approval"
										value="#{h.convertTime(h.getApprovalDate())}"
										style="width:100%" />
								</f:facet>
							</p:cellEditor>
						</p:column>

						<p:column headerText="Edit" style="width:50px">
							<h:commandLink id="hLink" value="Edit"
								action="#{holidayMB.edit()}">
								<f:param value="#{h.getId()}" name="holidayId" />
							</h:commandLink>
						</p:column>
					</p:dataTable>
				</h:form>
			</div>
		</div>
	</h:body>
</f:view>
</html>