<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html lang="#{language.language}" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:p="http://primefaces.org/ui"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets">
<f:view locale="#{language.locale}">
	<h:head>
	</h:head>
	<h:body>
		<div id="page" class="wrapper">

			<div id="header">
				<ui:insert name="header">
					<ui:include src="header.xhtml" />
				</ui:insert>
			</div>

			<div id="menu">
				<ui:insert name="menu">
					<ui:include src="menu.xhtml" />
				</ui:insert>
			</div>
			<div id="content">
				<h:form id="display3">

					<p:dataTable value="#{departmentMB.getAllDepartments()}" var="h"
						editable="true" paginator="true" rows="5"
						paginatorPosition="bottom"
						style="width:75%;  margin: 0 auto; text-align: center;">

						<p:ajax event="rowEdit" listener="#{departmentMB.onEdit}"
							update=":menu:messages" />
						<p:ajax event="rowEditCancel" listener="#{departmentMB.onCancel}"
							update=":menu:messages" />
						<p:column>
							<f:facet name="header">
								<h:outputText value="Id" />
							</f:facet>
							<p:cellEditor>
								<f:facet name="output">
									<h:outputText value="#{h.getId()}" />
								</f:facet>
								<f:facet name="input">
									<p:inputText id="id" value="#{h.getId()}" style="width:100%" />
								</f:facet>
							</p:cellEditor>
						</p:column>
						<p:column>
							<f:facet name="header">
								<h:outputText value="#{msg['DepartmentName']}" />
							</f:facet>
							<p:cellEditor>
								<f:facet name="output">
									<h:outputText value="#{h.getName()}" />
								</f:facet>
								<f:facet name="input">
									<p:inputText id="firstname" value="#{h.getName()}"
										style="width:100%" />
								</f:facet>
							</p:cellEditor>
						</p:column>

						<p:column>
							<f:facet name="header">
								<h:outputText value="#{msg['description']}" />
							</f:facet>
							<p:cellEditor>
								<f:facet name="output">
									<h:outputText value="#{h.getDescription()}" />
								</f:facet>
								<f:facet name="input">
									<p:inputText id="start" value="#{h.getDescription()}"
										style="width:100%" />
								</f:facet>
							</p:cellEditor>
						</p:column>

						<p:column headerText="Edit" style="width:50px"
							rendered="#{employeeMB.currentUser.hasRole('admin')}">
							<h:commandLink id="hLink" value="Edit"
								action="#{departmentMB.edit()}">
								<f:param value="#{h.getId()}" name="departmentId" />
							</h:commandLink>
						</p:column>

						<p:column headerText="Info" style="width:32px">
							<p:commandButton update=":display3:display"
								oncomplete="PF('departmentDialog').show()"
								icon="ui-icon ui-icon-search">
								<f:setPropertyActionListener value="#{h}"
									target="#{departmentMB.selectedDepartment}" />
							</p:commandButton>
						</p:column>
					</p:dataTable>


					<p:dialog header="Department Detail" widgetVar="departmentDialog"
						id="display1" resizable="false" width="500" showEffect="explode"
						hideEffect="explode">
						<h:panelGrid id="display" columns="2" cellpadding="4">

							<h:outputText value="Department Name:" />
							<h:outputText value="#{departmentMB.selectedDepartment.name}" />
							<h:outputText value="Department Description:" />
							<h:outputText
								value="#{departmentMB.selectedDepartment.description}" />
						</h:panelGrid>
					</p:dialog>
				</h:form>

			</div>
			<div id="footer">
				<ui:insert name="footer">
					<ui:include src="footer.xhtml" />
				</ui:insert>
			</div>
		</div>
	</h:body>
</f:view>
</html>