<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:p="http://primefaces.org/ui"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets">
<h:head>
</h:head>
<h:body>
	<div id="page">

		<div id="header" class="wrapper">
			<ui:insert name="header">
				<ui:include src="header.xhtml" />
			</ui:insert>
		</div>

		<div id="menu">
			<ui:insert name="menu">
				<ui:include src="menu.xhtml" />
			</ui:insert>
		</div>
		<div id="content">
			<h:form id="Add" style="width:40%;  margin: 0 auto;">
				<p:panel id="panel" header="Form" style="margin-bottom:10px;">
					<p:messages id="messages" />

					<p:panelGrid columns="2">
						<h:outputLabel for="id" value="Id: " />
						<p:inputText value="#{holidayMB.id}" />
						<h:outputLabel for="name" value="Name: " />
						<h:selectOneMenu value="#{holidayMB.name}">
							<f:selectItems value="#{employeeMB.listEmployee}"
								var="currentEmp" itemValue="#{currentEmp.firstName}"
								itemLabel="#{currentEmp.firstName}" />
						</h:selectOneMenu>
						<h:outputLabel for="start" value="Start date: " />
						<p:inputText value="#{holidayMB.start}" required="true" />
						<h:outputLabel for="end" value="End date:" />
						<p:inputText value="#{holidayMB.end}" required="true" />
						<h:outputLabel for="approval" value="Approval Date:" />
						<p:inputText value="#{holidayMB.approval}" required="true" />
						<h:outputLabel for="request" value="Request:" />
						<p:inputText value="#{holidayMB.request}" required="true" />
						<p:commandButton value="Update holiday" validateClient="true"
							ajax="false" action="#{holidayMB.update}" />

						<p:commandButton value="Reset Code" update="panel" process="@this"
							actionListener="#{holidayMB.reset}"
							style="padding-left:36px;padding-right:36px;" />
					
					</p:panelGrid>
				</p:panel>
			</h:form>
		</div>
		<div id="footer">
			<ui:insert name="footer">
				<ui:include src="footer.xhtml" />
			</ui:insert>
		</div>
	</div>
</h:body>
</html>