<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:p="http://primefaces.org/ui"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets">
<h:head>
</h:head>
<h:body>
	<div id="page" class="wrapper">

		<div id="header">
			<ui:insert name="header">
				<ui:include src="header.xhtml" />
			</ui:insert>
		</div>

		<div id="menu">
			<ui:insert name="menu">
				<ui:include src="menu.xhtml" />
			</ui:insert>
		</div>
		<div id="content">
			<h:form id="Add" style="width:40%; height:100%;  margin: 0 auto;">
				<p:panel id="panel" header="Form" style="margin-bottom:10px;">
					<p:messages id="messages" />

					<p:panelGrid columns="2">
						<h:outputLabel for="id" value="Department Id: " />
						<p:inputText value="#{departmentMB.id}" />
						<h:outputLabel for="name" value="Department Name: " />
						<p:inputText value="#{departmentMB.name}" required="true" />
						<h:outputLabel for="description" value="Description:" />
						<p:inputText value="#{departmentMB.description}" required="true" />

						<p:commandButton value="Update department" validateClient="true"
							ajax="false" action="#{departmentMB.update}" />
						<p:commandButton value="Reset Code" update="panel" process="@this"
							actionListener="#{departmentMB.reset}"
							style="padding-left:32px;padding-right:32px;" />
					</p:panelGrid>
				</p:panel>
			</h:form>
			<br /> <br /> <br /> <br /> <br /><br/>
		</div>
		<div id="footer">
			<ui:insert name="footer">
				<ui:include src="footer.xhtml" />
			</ui:insert>
		</div>
	</div>
</h:body>
</html>