<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:p="http://primefaces.org/ui"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets">
<h:head>
</h:head>
<h:body>
	<div id="page">

		<div id="header" class="wrapper">
			<ui:insert name="header">
				<ui:include src="header.xhtml" />
			</ui:insert>
		</div>

		<div id="menu">
			<ui:insert name="menu">
				<ui:include src="menu.xhtml" />
			</ui:insert>
		</div>
		<div id="content">
			<h:form id="Add" style="width:40%;  margin: 0 auto;">
				<p:panel id="panel" header="Form" style="margin-bottom:10px;">
					<p:messages id="messages" />

					<p:panelGrid columns="2">
						<h:outputLabel for="id" value="Id: " />
						<p:inputText value="#{employeeMB.id}" />
						<h:outputLabel for="firstName" value="Firstname: " />
						<p:inputText value="#{employeeMB.editEmp.firstName}"
							required="true" />
						<h:outputLabel for="lastName" value="LastName:" />
						<p:inputText value="#{employeeMB.editEmp.lastName}"
							required="true" />
						<h:outputLabel for="date" value="HireDate:" />
						<p:inputText value="#{employeeMB.date}" required="true" />
						<h:outputLabel for="mng" value="Manager:" />
						<h:selectOneMenu value="#{employeeMB.mng}">
							<f:selectItems value="#{employeeMB.listEmployee}"
								var="currentMng" itemValue="#{currentMng.firstName}"
								itemLabel="#{currentMng.firstName}" />
						</h:selectOneMenu>
						<h:outputLabel for="depart" value="Department:" />
						<h:selectOneMenu value="#{employeeMB.depart}">
							<f:selectItems value="#{employeeMB.listDepartment}"
								var="currentDep" itemValue="#{currentDep.name}"
								itemLabel="#{currentDep.name}" />
						</h:selectOneMenu>
						<p:commandButton value="Update employee" validateClient="true"
							ajax="false" action="#{employeeMB.update}" />

						<p:commandButton value="Reset Code" update="panel" process="@this"
							actionListener="#{holidayMB.reset}"
							style="padding-left:40px;padding-right:40px;" />

					</p:panelGrid>
				</p:panel>
			</h:form>
		</div>
		<div id="footer">
			<ui:insert name="footer">
				<ui:include src="footer.xhtml" />
			</ui:insert>
		</div>
	</div>
</h:body>
</html>