<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html lang="#{language.language}" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:p="http://primefaces.org/ui"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets">
<f:view locale="#{language.locale}">
	<h:head>
	</h:head>
	<h:body>
		<div id="page" class="wrapper">

			<div id="header">
				<ui:insert name="header">
					<ui:include src="header.xhtml" />
				</ui:insert>
			</div>
			<div id="menu">
				<ui:insert name="menu">
					<ui:include src="menu.xhtml" />
				</ui:insert>
			</div>
			<div id="content">
				<h:form id="display3">
					<p:dataTable value="#{employeeMB.getAllEmployees()}" var="h"
						editable="true" paginator="true" rows="5"
						paginatorPosition="bottom"
						style="width:75%;  margin: 0 auto; text-align: center;">

						<p:ajax event="rowEdit" listener="#{employeeyMB.onEdit}"
							update=":menu:messages" />
						<p:ajax event="rowEditCancel" listener="#{employeeMB.onCancel}"
							update=":menu:messages" />
						<p:column>
							<f:facet name="header">
								<h:outputText value="Id" />
							</f:facet>
							<p:cellEditor>
								<f:facet name="output">
									<h:outputText value="#{h.getId()}" />
								</f:facet>
								<f:facet name="input">
									<p:inputText id="id" value="#{h.getId()}" style="width:100%" />
								</f:facet>
							</p:cellEditor>
						</p:column>
						<p:column>
							<f:facet name="header">
								<h:outputText value="#{msg['empName']}" />
							</f:facet>
							<p:cellEditor>
								<f:facet name="output">
									<h:outputText value="#{h.getFirstName()} #{h.getLastName()}" />
								</f:facet>
								<f:facet name="input">
									<p:inputText id="firstname"
										value="#{h.getFirstName()} #{h.getLastName()}"
										style="width:100%" />
								</f:facet>
							</p:cellEditor>
						</p:column>

						<p:column>
							<f:facet name="header">
								<h:outputText value="#{msg['empHireDate']}" />
							</f:facet>
							<p:cellEditor>
								<f:facet name="output">
									<h:outputText value="#{h.convertTime(h.getHiredate())}" />
								</f:facet>
								<f:facet name="input">
									<p:inputText id="start"
										value="#{h.convertTime(h.getHiredate())}" style="width:100%" />
								</f:facet>
							</p:cellEditor>
						</p:column>
						<p:column>
							<f:facet name="header">
								<h:outputText value="#{msg['manager']}" />
							</f:facet>
							<p:cellEditor>
								<f:facet name="output">
									<h:outputText value="#{h.getManager().getFirstName()}" />
								</f:facet>
								<f:facet name="input">
									<p:inputText id="manager"
										value="#{h.getManager().getFirstName()}" style="width:100%" />
								</f:facet>
							</p:cellEditor>
						</p:column>
						<p:column>
							<f:facet name="header">
								<h:outputText value="#{msg['dept']}" />
							</f:facet>
							<p:cellEditor>
								<f:facet name="output">
									<h:outputText value="#{h.getDept().getName()}" />
								</f:facet>
								<f:facet name="input">
									<p:inputText id="end" value="#{h.getDept().getName()}"
										style="width:100%" />
								</f:facet>
							</p:cellEditor>
						</p:column>

						<p:column headerText="Edit" style="width:50px"
							rendered="#{employeeMB.currentUser.hasRole('admin')}">
							<h:commandLink id="hLink" value="Edit"
								action="#{employeeMB.edit()}">
								<f:param value="#{h.getId()}" name="employeeId" />
							</h:commandLink>
						</p:column>
						<p:column headerText="Info" style="width:32px">
							<p:commandButton update=":display3:display"
								oncomplete="PF('employeeDialog').show()"
								icon="ui-icon ui-icon-search">
								<f:setPropertyActionListener value="#{h}"
									target="#{employeeMB.selectedEmployee}" />
							</p:commandButton>
						</p:column>
					</p:dataTable>


					<p:dialog header="Employee Detail" widgetVar="employeeDialog"
						id="display1" resizable="false" width="500" showEffect="explode"
						hideEffect="explode">
						<h:panelGrid id="display" columns="2" cellpadding="4">

							<h:outputText value="Employee:" />
							<h:outputText
								value="#{employeeMB.selectedEmployee.firstName} #{employeeMB.selectedEmployee.lastName}" />
							<h:outputText value="Hire Date:" />
							<h:outputText value="#{employeeMB.selectedEmployee.hiredate}" />
							<h:outputText value="Manager:" />
							<h:outputText
								value="#{employeeMB.selectedEmployee.manager.firstName}" />
							<h:outputText value="Department:" />
							<h:outputText value="#{employeeMB.selectedEmployee.dept.name}" />
						</h:panelGrid>
					</p:dialog>
				</h:form>
			</div>
			<br />
			<div id="footer">
				<ui:insert name="footer">
					<ui:include src="footer.xhtml" />
				</ui:insert>
			</div>
		</div>
	</h:body>
</f:view>
</html>