<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html lang="#{language.language}" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:p="http://primefaces.org/ui"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets">
<h:outputStylesheet library="css" name="style.css" />
<link type="text/css" rel="stylesheet"
	href="/project/faces/javax.faces.resource/theme.css?ln=primefaces-excite-bike" />
	<h:body>
		<div class="header">
			<h1>
				<h:graphicImage id="logo" alt="some text" url="imag/logo3.png"></h:graphicImage>
				Employees Holidays
			</h1>
		</div>
		<h:form>
			<div class="langForm">
				<h:commandButton action="#{language.changeLanguage('ro')}"
					value="Romanian" image="imag/ro.png" class="langButton" />
				<h:outputText value=" " />
				<h:commandButton action="#{language.changeLanguage('en')}"
					value="English" image="imag/en.png" class="langButton" />
				<p:commandButton value="Logout" action="#{loginMB.logout}" style="height:30px;width:87px;font-size:100%;" />
				<div style="color:#2B90EC;font-weight: bold;">	
				<h:outputText value="  #{loginMB.displayUser()}"/>	
				</div>
			</div>
		</h:form>
		<br />
	</h:body>
</html>