<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html lang="#{language.language}" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:p="http://primefaces.org/ui"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets">
<f:view locale="#{language.locale}">
	<h:head>
	</h:head>
	<h:body>
		<div id="page" class="wrapper">

			<div id="header">
				<ui:insert name="header">
					<ui:include src="header.xhtml" />
				</ui:insert>
			</div>

			<div id="menu">
				<ui:insert name="menu">
					<ui:include src="menu.xhtml" />
				</ui:insert>
			</div>
			<div id="content">
				<h:panelGroup rendered="#{loginMB.currentUser.hasRole('admin')}">
					<ui:include src="AllHolidaysFaces.xhtml" />
				</h:panelGroup>
				<h:panelGrid rendered="#{loginMB.currentUser.hasRole('user')}">
					<ui:include src="UserHolidayFaces.xhtml" />
				</h:panelGrid>
			</div>
			<div id="footer">
				<ui:insert name="footer">
					<ui:include src="footer.xhtml" />
				</ui:insert>
			</div>
		</div>
	</h:body>
</f:view>
</html>