<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://java.sun.com/jsf/facelets">
<h:outputStylesheet library="css" name="style.css" />
<h:head>
	<title>login</title>
</h:head>
<h:body>
	<div id="page" class="wrapper">

		<div class="header">
			<h1>
				<h:graphicImage id="logo" alt="some text" url="imag/logo3.png"></h:graphicImage>
				Employees Holidays
			</h1>
		</div>
		<br /> <br />
		<div id="content">
			<h:form id="loginForm" style="width:30%;  margin: 0 auto;">
				<p:growl id="msg" showDetail="true" life="3000" />
				<p:panel header="Login" style="width: 360px;">
					<h:panelGrid id="loginPanel" columns="2">
						<h:outputText value="Username" />
						<p:inputText id="username" value="#{loginMB.uname}"></p:inputText>
						<p:spacer></p:spacer>
						<p:message for="username"></p:message>
						<h:outputText value="Password" />
						<p:password id="password" value="#{loginMB.password}"
							feedback="false"></p:password>
						<p:spacer></p:spacer>
						<p:message for="password"></p:message>
						<p:spacer></p:spacer>
						<p:commandButton action="#{loginMB.loginProject}" value="Login"
							update="loginForm" ajax="true"
							style="padding-left:40px;padding-right:40px;"></p:commandButton>
					</h:panelGrid>
				</p:panel>
			</h:form>
		</div>
		<br/><br/><br/><br/>
		<div id="footer">
			<ui:insert name="footer">
				<ui:include src="footer.xhtml" />
			</ui:insert>
		</div>
	</div>
</h:body>
</html>