<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:p="http://primefaces.org/ui"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets">
<h:body>
	<h:form id="menu" style="width:75%; margin:0 auto;">
		<p:growl id="messages" showDetail="true" />
		<p:menubar activeIndex="#{param.i}">
			<p:submenu label="#{msg['menutab1']}" icon="ui-icon-document">
				<p:menuitem value="Display Employees"
					url="EmployeeFacesServlet.xhtml" icon="ui-icon-contact" />
				<p:menuitem value="Add Employee"
					rendered="#{loginMB.currentUser.hasRole('admin')}"
					outcome="AddEmployeeFacesServlet.xhtml" icon="ui-icon-pencil" />
			</p:submenu>

			<p:submenu label="#{msg['menutab2']}" icon="ui-icon-document">
				<p:menuitem value="Display Departments"
					url="DepartmentFacesServlet.xhtml" icon="ui-icon-contact" />
				<p:menuitem value="Add Department"
					rendered="#{loginMB.currentUser.hasRole('admin')}"
					outcome="AddDepartmentFacesServlet.xhtml" icon="ui-icon-pencil" />
			</p:submenu>

			<p:submenu label="#{msg['menutab3']}" icon="ui-icon-document">
				<p:menuitem value="Display Holidays"
					outcome="HolidayFacesServlet.xhtml" icon="ui-icon-contact" />
				<p:menuitem value="Add a holiday"
					rendered="#{loginMB.currentUser.hasRole('admin')}"
					outcome="AddHolidayFacesServlet" icon="ui-icon-pencil" />
			</p:submenu>
			<p:menuitem value="#{msg['menutab4']}" url="#" icon="ui-icon-search" />
		</p:menubar>
	</h:form>
	<br />
	<br />
	<br />
</h:body>
</html>