<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:p="http://primefaces.org/ui"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets">
<h:body>
	<h:head>
	</h:head>
	<div id="header">
		<ui:insert name="header">
			<ui:include src="header.xhtml" />
		</ui:insert>
	</div>
	
	<h:form style="width:100%; padding-top:10%; text:center;">
		<br/>Insert 1000 employees and users in data base:
		<p:commandButton value="Recruit" ajax="false" action="#{recruitmentMB.recruit()}" style="margin-left:25%;" />

	</h:form>
	<!-- <div id="footer" style="margin-top:20%;">
		<ui:insert name="footer">
			<ui:include src="footer.xhtml" />
		</ui:insert>
	</div> -->
</h:body>
</html>